 <%
  userEmail = params["user_email"]
  message   = message.nil? ? '' : params["message"]
 %>
<html>
 <head>
  <%= render partial: "common/login_header" %>
  <title>くじら応募</title>
 </head>
 <body class="hold-transition register-page">
  <div class="register-box">
   <div class="register-logo">
    <a href="#"><img src="/dist/img/logo.png" class="img-responsive img-custom"></a>
   </div>
   <div class="register-box-body">
    <p class="login-box-msg">メールアドレスを入力し、再発行ボタンを押してください。</p>
    <form id="new_user" action="/users/password/create" accept-charset="UTF-8" method="post">
     <input name="from_which" type="hidden" value="pwnew.jsp" />
     <div class="form-group has-feedback">
      <input type="email" class="form-control" for="user_email" autofocus="autofocus"  placeholder="ID（メール）" value="" name="user_email" id="user_email" required oninvalid="this.setCustomValidity('emailが入力されていません。')" oninput="setCustomValidity('')" />
      <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
     </div>
     <div class="row">
      <div class="col-md-12 col-xs-12">
       <input type="submit"  name="commit" data-disable-with="Send me reset password instructions" class="btn btn-primary btn-block btn-rounded" value="再送信する" />
      </div>
     </div>
    </form>
    <div class="social-auth-links text-center">
     <p>- または -</p>
     <div class="row">
      <div class="col-md-12 col-xs-12">
       <a href="/login"><input class="btn btn-success btn-block btn-rounded" value="ログイン" /></a>
      </div>
     </div>
    </div>
   </div>
  </div>
 </body>
</html>
