   <footer class="main-footer">
    <div class="pull-right hidden-xs">
     <b>バージョン</b> <%=20181217%><%#=Constant.VERSION%>
    </div>
    <span style="color:white">著作権 &copy;</span>  <a style="color:#000;" href="/" target="_blank">Kujira 応募</a><span style="color:white"> | 2018 株式会社九地良 </span><a style="color:#000;" href="http://www.kujira-sms.jp/" target="_blank">Kujira SMS</a> .
   </footer>
