				<div class="nav_menu ul_nav_menu grid-1280">
					<div class="btn-group btn-group-block">
						<a class="btn btn-lg" href="/">トップ</a>
						<a class="btn btn-lg cjk" href="/applicant">求人状況</a>
						<div class="btn btn-lg cjk sub_menu_link" >メールボックス
							<ul class="ul_nav_sub_menu">
								<li><a class="btn cjk"  href="/email_inbox?box=INBOX"><p>受信メール</p></a></li>
								<li><a class="btn cjk"  href="/email_inbox?box=Sent"><p>送信メール</p></a></li>
								<li><a class="btn cjk"  href="/email_template"><p>メールテンプレート</p></a></li>
								<li><a class="btn cjk"  href="/email_inbox?box=Trash"><p>ゴミ箱</p></a></li>
							</ul>
						</div>
						<a class="btn btn-lg cjk" href="/effect_report">効果測定</a>
						<a class="btn btn-lg cjk" href="/interview_quota">面接枠管理</a>
						 <a class="btn btn-lg cjk" href="/template_list">応募フォーム</a>
						<div class="btn btn-lg cjk sub_menu_link_1">設定
								<ul class="ul_nav_sub_menu_1">
									<li><a class="btn cjk" href="/setting_account"><p>アカウント設定</p></a></li>
									<li><a class="btn cjk"  href="/setting_store"><p>店舗設定</p></a></li>
									<li><a class="btn cjk"  href="/setting_group"><p>グループ設定</p></a></li>
								<!--	<li><a class="btn cjk"  href="/setting_brand"><p>ブランド設定</p></a></li> -->
									<li><a class="btn cjk"  href="/setting_applicant_display"><p>応募者表示設定</p></a></li>
									<li><a class="btn cjk"  href="/setting_app_status"><p>選考ステータス設定</p></a></li>
									<li><a class="btn cjk"  href="/setting_notification"><p>お知らせ設定</p></a></li>
									<li><a class="btn cjk"  href="/setting_auto_data_upload"><p>自動取込結果</p></a></li>
								</ul>
						</div>
					</div>
				</div>
