<%= form_with(model: m_site, local: true) do |form| %>
  <% if m_site.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(m_site.errors.count, "error") %> prohibited this m_site from being saved:</h2>

      <ul>
      <% m_site.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
